* {
  box-sizing: border-box;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
* {
  box-sizing: border-box;
}

.navbar-brand img {
  width: 150px;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.flex-sons {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  width: 15%;
}

.flex-sons strong {
  font-size: 2em;
  display: block;
  padding: 10px;
}

.flex-sons:nth-last-child(1) {
  background-color: #ED4C67;
}

.flex-sons:nth-last-child(2) {
  background-color: #27ae60;
}

.flex-sons:nth-last-child(3) {
  background-color: #3498db;
}

.onder-header {
  margin: 10px auto 0 auto;
  width: 100%;
  border-bottom: 5px solid gray;
}

.peroneal {
  margin: auto;
  padding: 10px;
  clear: both;
  text-align: center;
}

.peroneal>a {
  margin: 10px;
}

.filter {
  border-bottom: 5px solid gray;
}

.binnen {
  margin: 10px auto 10px auto;
  width: 90%;
}

.binnen form {
  width: 100%;
  position: relative;
}

.resultaat {
  margin: auto;
  width: 90%;
  text-align: center;
  border-bottom: 5px solid gray;
}

.resultaat a {
  float: right;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  margin: 20px auto;
}

.item {
  width: 22%;
  border: 2px solid gray;
  margin-bottom: 10px;
  box-shadow: 10px 10px 49px -6px rgba(94, 88, 94, 1);
  border-radius: 25px;
}

.item img, .item_information img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
}

.item h6 {
  margin-left: 5px;
  width: 100%;
}

.text p:nth-last-child(1) {
  color: red;
  font-size: 20px;
  style="font-family: 'Orbitron', sans-serif;
}

.text p:nth-last-child(2) {
  margin-left: 5px;
  font-size: 20px;
}

.text {
  width: 100%;
  float: left;
}

.item a {
  clear: both;
  color: green;
}

.item a:hover {
  color: green;
  text-decoration: none;
}

.details {
  width: 98%;
  margin: 2px auto 10px auto;
}

.item_information {
  width: 60%;
  margin: 20px auto 50px auto;
  border: 2px solid gray;
  box-shadow: 10px 10px 49px -6px rgba(94, 88, 94, 1);
  border-radius: 25px;
}

.form-control.sugestion {
  margin: 0;
  width: 50%;
}

.form-control.sugestion:focus, .form-control.sugestion:active {
  outline: none;
  box-shadow: none;
}

.above {
  width: 50%;
  float: left;
  position: absolute;
  z-index: 100;
}

#auto {
  float: left;
  width: 100%;
}

#auto ul {
  width: 100%;
  list-style: none;
  margin: 0;
  margin: 0;
  padding: 0;
  float: left;
  background: white;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

#auto ul li {
  list-style: none;
  margin: 0;
  border-bottom: 2px solid #000000;
  width: 100%;
  padding: 0;
}

#auto ul a {
  text-decoration: none;
  color: rgb(18, 176, 75);
}

#auto ul li:hover {
  background-color: #aeb2ae;
}

.input-group {
  width: 100%;
}

.input-group #sel1 {
  width: 50%;
}


/* #auto ul li:last-child{
  border: none;
} */

/***
************************************Admin Page****************************
***/

.Admin {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Admin .container {
  width: 90%;
  margin: 0;
}

.Admin .list-group {
  width: 20%;
  margin: 0 !important;
}

.idLink {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .flex {
    display: none;
  }
  .item {
    width: 100%;
  }
  .selectpicker, #postal {
    width: 100% !important;
  }
  .resultaat a {
    float: none;
    margin: 5px;
  }
}
